<%
addHead('<meta name="description" content="Welcome Page">');
addHead('<meta name="author" content="Chinedum Ukejianya">');
addStyle('flat-ui.min.css', { rel: 'stylesheet' });
addStyle('vendor/bootstrap.min.css', { rel: 'stylesheet' });
addStyle('', {rel: 'stylesheet'})
addScript('footer', 'vendor/jquery.min.js');
addScript('footer', 'flat-ui.min.js');
%>

<!-- views/profile.ejs -->
<!doctype html>
<html>
  <head>
      <% include header %>
      </style>
  </head>
  <body>
    <div class="container">

      <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Welcome <%= user.local.fullname.first%> </h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>

      <div class="row">

        <div class="col-sm-6">
          <div class="well">
            <h3><span class="fa fa-user"></span> Local </h3>

              <p>
                <strong>Name</strong>: <%= user.local.fullname.first %> <%= user.local.fullname.last %><br>
                <strong>email</strong>: <%= user.local.email %><br>
                <strong>password</strong>: <%= user.local.phone %>
              </p>
          </div>
        </div>

      </div>

    </div>
    <% include footer %>
  </body>
</html>
